############################
# IMAGE TAGS
############################
TA_IMAGE_TAG=latest
REDIS_IMAGE_TAG=7-alpine
ES_IMAGE_TAG=latest

############################
# NETWORKS
############################
INTERNAL_NETWORK_NAME=fabric_tubearchivist
EXTERNAL_NETWORK_NAME=fabric_container

############################
# HOST / PORT / TIMEZONE
############################
TZ=America/Denver
TA_BIND_IP=0.0.0.0
TA_PORT=8000
TA_BACKEND_PORT=8080
REDIS_PORT=6379
ES_PORT=9200

############################
# TUBEARCHIVIST REQUIRED APP SETTINGS
############################
TA_HOST=http://tube.home.arpa:8000
TA_USERNAME=media
TA_PASSWORD=123qweASD!@#
REDIS_CON=redis://archivist-redis:6379
ES_URL=http://archivist-es:9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=VB@*N&A0B9*PWZYY54ugHZaM3KK*uH

############################
# TUBEARCHIVIST OPTIONAL APP SETTINGS
############################
HOST_UID=1000
HOST_GID=1000
TA_ENABLE_AUTH_PROXY=
TA_LDAP=
TA_AUTO_UPDATE_YTDLP=true
DISABLE_STATIC_AUTH=
DJANGO_DEBUG=
ES_DISABLE_VERIFY_SSL=true

############################
# ELASTICSEARCH SETTINGS
############################
ES_JAVA_OPTS=-Xms1g -Xmx1g
ES_XPACK_SECURITY_ENABLED=true
ES_DISCOVERY_TYPE=single-node
ES_SNAPSHOT_DIR=/usr/share/elasticsearch/data/snapshot

############################
# HOST PATHS
############################
TA_CACHE_PATH=c:/docker/containers/tubearchivist/cache
TA_MEDIA_PATH=c:/media/youtube
REDIS_DATA_PATH=c:/docker/containers/tubearchivist/redis
ES_DATA_PATH=c:/docker/containers/tubearchivist/es
ES_SNAPSHOT_PATH=c:/docker/containers/tubearchivist/es-snapshots

############################
# HOMEPAGE COMMON
############################
HOMEPAGE_GROUP=Media
HOMEPAGE_SERVER=local

############################
# HOMEPAGE TUBEARCHIVIST
############################
HOMEPAGE_NAME_TA=TubeArchivist
HOMEPAGE_ICON_TA=tubearchivist.png
HOMEPAGE_DESCRIPTION_TA=Self-hosted YouTube archive
HOMEPAGE_HREF_TA=http://tube.home.arpa:8000
HOMEPAGE_SITEMONITOR_TA=http://tubearchivist:8000
HOMEPAGE_WIDGET_URL_TA=http://tubearchivist:8000
HOMEPAGE_WIDGET_KEY_TA=replace_with_tubearchivist_api_key
HOMEPAGE_WIDGET_FIELDS_TA=["downloads","videos","channels","playlists"]

############################
# HOMEPAGE REDIS
############################
HOMEPAGE_NAME_REDIS=TubeArchivist Redis
HOMEPAGE_ICON_REDIS=redis.png
HOMEPAGE_DESCRIPTION_REDIS=Queue and cache backend
HOMEPAGE_SITEMONITOR_REDIS=tcp://archivist-redis:6379

############################
# HOMEPAGE ELASTICSEARCH
############################
HOMEPAGE_NAME_ES=TubeArchivist Elasticsearch
HOMEPAGE_ICON_ES=elasticsearch.png
HOMEPAGE_DESCRIPTION_ES=Search index backend
HOMEPAGE_SITEMONITOR_ES=http://archivist-es:9200
