# Repository link: https://github.com/paulkakell/docker-compose
# Repository reference: refs/heads/main
# Compose path: /watchtower/docker-compose.yml

HOMEPAGE_SERVICE_GROUP=        # i.e. Infrastructure Management
HOMEPAGE_SERVICE_NAME=         # i.e. Watchtower
TZ=                            # i.e. America/Denver
WATCHTOWER_HTTP_API_TOKEN=     # i.e. 9f3c2e7a4b8d1c6f5a2e9b7d4c1f8a6e3d7b2c9f1a4e6d8c3b7f2a9d5e1c4b8
WATCHTOWER_URL=                # i.e. https://watchtower.domain.com
